/DataScience-BoosterCourse/data/
/DataScience-BoosterCourse/data/store/
/DataScience-BoosterCourse-2/data/
/IFELL/ex/data/
/IFELL/ex/drive/
/IFELL/ex/semiconductor/
/IFELL/image_segmentation/train/
/IFELL/image_segmentation/train_labels/
Text DATA Analysis/data/
/IFELL/image_segmentation10/Animals_10/raw-img/
/IFELL/image_segmentation10/drive/
/key/