/DataScience-BoosterCourse/data/
/DataScience-BoosterCourse/data/store/
/DataScience-BoosterCourse-2/data/
/IFELL/ex/data/
/IFELL/ex/drive/
/IFELL/ex/semiconductor/
/IFELL/image_segmentation/train/
/IFELL/image_segmentation/train_labels/